@import ./_color

html, body
    height: 100%

body
    color: $text
    margin: 0
    background-image: url(./arknights/bg.jpg)
    background-attachment: fixed
    background-position: 50%
    background-repeat: no-repeat
    background-size: cover
    font-family: "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif

h1, h2, h3, h4, h5, h6, strong, code, pre
    color: $important-text

h1, h2
    text-align: center

content
    background-color: transparent

#outline-content
    background-color: $bg-9
    .outline-item-wrapper


#write
    color: $text
    background-color: $bg-6

#typora-source
    .CodeMirror-lines
        background-color: $bg-8