@import ./_color

#typora-sidebar
    background-color: $bg
    .sidebar-tabs
        background-color: $primary
        border-bottom: none
    .info-panel-tab-wrapper
        color: $primary

#sidebar-content
    background-color: $text
    .outline-item
        transition: .1s
        .outline-label
            color: $primary
        &:hover
            margin: 0 -18px
            border-left: 3px solid $primary
            padding-left: 29px
            background-color: $bg-hover
            .outline-label
                color: $primary
                text-decoration: none

#sidepanel-segmented-input-outline
    color: $important-text
    border: none

#info-panel-tab-file


#info-panel-tab-outline
    .info-panel-tab-title
        color: $primary
    .info-panel-tab-border
        &:hover
            background-color: $primary

#file-library-list-children
    color: $text
    background-color: $bg-9
    .file-list-item-file-name-part
        color: $important-text